*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
}
/* Design of the index.html */

.left-side{
    /* background-color: red; */
    width: 40%;
    background-color: #3498db;
    background-size: contain;
    background-repeat: no-repeat;
}
.right-side {
    width: 65%;
}
.right-side-content {
    width: 70%;
}
img.logo{
    width: 13rem;
    transition: all 0.6s;
    height: 13rem;
    cursor:help;
}
img.logo:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.homeBtns {
    margin-top: 4rem;
}
.homePageBtn a{
    padding: 0.7rem 3rem;
    height: 1.5rem;
    background-color: #3498db;
    border-radius: 1.6rem;
    color: white;
    text-decoration: none;
}

/* Design of the job_list page */

.top-header-{
    height: 3rem;
}
.top-header-logo img{
    width: 65px;
    height: 65px;
    border: 2px solid #3498db;
}

/* Design of the register page */
.register{
    padding: 3rem;
}
.register-container {
    width: 40%;
    height: 70%;
    padding: 2rem 3rem;
    background-color: #ecf0f1;
}
.register-container input{
    border: 1px solid rgba(0, 0, 0, 0.206);
}
.register-container button{
    height: 1.5rem;
    background-color: #3498db;
    border-radius: 1.6rem;
    color: white;
    border: none;
}
.register-container input,.register-container button{
    height: 2.5rem;
    width: 80%;
    
}